:root {
    --bg-color: #1C1C1E;
    --white: #FFFFFF;
    --grey1: #48484A;
    --grey2: #636366;
    --grey3: #8E8E93;
    --red: #FF453A;
    --yellow: #FFD60A;
    --orange: #FF9F0A;
    --green: #30D158;
    --blue: #0A84FF;
}

@keyframes zoomOut {
    from {
	opacity: 1;
    }
    50% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
	opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
	opacity: 0;
    }
    100% {
	opacity: 1; 
    }
}

body {
    background-color: var(--bg-color);
    color: var(--white);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    ". header ."
    ". main ."
    ". footer .";
    height: 95vh;
    width: 95vw;
    margin: 0 auto;
    place-items: stretch;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.icon {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 15%;
    left: 0;
    right: 0;
    animation: zoomOut 0.2s linear forwards;
    animation-delay: 2.4s;
}

.brackets {
    fill: var(--grey3);
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 0.8s;
}

.staff {
    fill: var(--grey1);
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 0.1s;
}

.snake {
    fill: var(--white);
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    animation-delay: 0.5s;
}

