@media only screen and (min-width: 1024px) {
    p.intro {
	font-size: 20px;
    }
    h1.name {
	font-size: 55px;
    }
    p.motto { 
	font-size: 25px;
    }
    p.shortbio {
	font-size: 20px;
    }
    .fab, .far, .fas {
	font-size: 25px;
    }
    .footer {
	font-size: 15px;
    }

}

