@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-SemiboldItalic.woff2') format('woff2'),
        url('fonts/SFMono-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-RegularItalic.woff2') format('woff2'),
        url('fonts/SFMono-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-Bold.woff2') format('woff2'),
        url('fonts/SFMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-BoldItalic.woff2') format('woff2'),
        url('fonts/SFMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-LightItalic.woff2') format('woff2'),
        url('fonts/SFMono-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-Regular.woff2') format('woff2'),
        url('fonts/SFMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-Heavy.woff2') format('woff2'),
        url('fonts/SFMono-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-Medium.woff2') format('woff2'),
        url('fonts/SFMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-MediumItalic.woff2') format('woff2'),
        url('fonts/SFMono-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-Semibold.woff2') format('woff2'),
        url('fonts/SFMono-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-HeavyItalic.woff2') format('woff2'),
        url('fonts/SFMono-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SFMono';
    src: url('fonts/SFMono-Light.woff2') format('woff2'),
        url('fonts/SFMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-Thin.woff2') format('woff2'),
        url('fonts/SFProText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFRounded';
    src: url('fonts/SFRounded-Heavy.woff2') format('woff2'),
        url('fonts/SFRounded-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-Ultralight.woff2') format('woff2'),
        url('fonts/SFProText-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFRounded';
    src: url('fonts/SFRounded-Medium.woff2') format('woff2'),
        url('fonts/SFRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('fonts/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFRounded';
    src: url('fonts/SFRounded-Regular.woff2') format('woff2'),
        url('fonts/SFRounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-BlackItalic.woff2') format('woff2'),
        url('fonts/SFProText-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-Bold.woff2') format('woff2'),
        url('fonts/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-Light.woff2') format('woff2'),
        url('fonts/SFProText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFRounded';
    src: url('fonts/SFRounded-Ultralight.woff2') format('woff2'),
        url('fonts/SFRounded-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('fonts/SFProDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-Medium.woff2') format('woff2'),
        url('fonts/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-LightItalic.woff2') format('woff2'),
        url('fonts/SFProText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('fonts/SFProDisplay-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SFRounded';
    src: url('fonts/SFRounded-Bold.woff2') format('woff2'),
        url('fonts/SFRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-HeavyItalic.woff2') format('woff2'),
        url('fonts/SFProText-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-ThinItalic.woff2') format('woff2'),
        url('fonts/SFProText-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SFRounded';
    src: url('fonts/SFRounded-Black.woff2') format('woff2'),
        url('fonts/SFRounded-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-Heavy.woff2') format('woff2'),
        url('fonts/SFProText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-BoldItalic.woff2') format('woff2'),
        url('fonts/SFProText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-Black.woff2') format('woff2'),
        url('fonts/SFProText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('fonts/SFProDisplay-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SFRounded';
    src: url('fonts/SFRounded-Thin.woff2') format('woff2'),
        url('fonts/SFRounded-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('fonts/SFProDisplay-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-Black.woff2') format('woff2'),
        url('fonts/SFProDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('fonts/SFProDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('fonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('fonts/SFProDisplay-UltralightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/SFProDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SFProText';
    src: url('fonts/SFProText-Semibold.woff2') format('woff2'),
        url('fonts/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
