@media only screen and (max-width: 600px) {
  body, html {
       overflow: hidden;
       position: relative;
       height: 100%;
  }
  
  .homeText { 
      width: 95vw;
  }

  p.intro {
      font-size: 15px;
  }

  h1.name {
      font-size: 35px;
  }

  p.motto {
      font-size: 22px;
  }

  p.shortbio {
      font-size: 20px;
  }

}
