<!doctype html>
<html>
    <head>
	<meta charset="utf-8">
	<link rel="preload" href="css/fonts.css" as="style">
	<link rel="preload" href="css/base.css" as="style">

	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<title>{{ page.title }} | {{ site.first_name }} {{site.last_name}}</title>
    </head>

    <body>

	<div class="container">

	    <div class="headerMenu">
		{% include header.html %}
	    </div>

	    <div class="iconHeader">
		{% include svgSmall.html %}
	    </div>

	    <div class="iconLarge">
		{% include svgLarge.html %}
	    </div>

	    <div class="main">
		{% include mainBody.html %}
		{% include mainButton.html %}
	    </div>


	    {% include footer.html %}
	</div>
    </body>
</html>
